* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
    transition: 3s ease;
}

:root {
  --background-color-first: #3d5220;
  --background-color-second: #b7cb99;
  --background-color-third: #778fd2;
  --background-color-fourth: #2a3759;
  --background-color-fifth: #431d32;
  --color: white;
  --width-main: 80%;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}

header {
  background-color: var(--background-color-fifth);
  height: 70px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding: 0 5%;

  top: 0;
  position: sticky;
}

header img {
  height: 100%;
  background-size: cover;
  max-height: 100%;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.menu > a {
  color: var(--color);
  text-decoration: none;
}

#section-about,
#section-gallery {
  background-color: var(--background-color-second);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 10%;
}

#section-about {
  height: 600px;
}

#section-about p,
#section-about h1 {
  width: var(--width-main);
}

#section-gallery {
  background-color: var(--background-color-first);
  padding: 30px 10%;
  gap: 40px;
}

.gallery-card {
  background-color: var(--background-color-fourth);
  border-radius: 5%;
  width: 100%;
}

.gallery-card img {
    height: 100%;
  width: 100%;
  border-radius: 5% 5% 0 0;
  margin-bottom: 25px;
}

.gallery-card h2 {
  color: var(--color);
  padding-bottom: 5%;
}

/* PLANCete */
@media screen and (min-width: 769px) {
  #section-gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 10%;
    
  }

  #gallery-card{
    width: 100%;
    gap: 50px;
  }

  section{
    height: fit-content;
  }
}

#section-contact {
  background-color: var(--background-color-third);
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-contact img {
  width: 100%;
  height: 100%;
}

#section-contact form {
  width: var(--width-main);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

#section-contact input {
  height: 50%;
  font-size: 1.5em;
  border: none;
  padding: 10px;
}

#section-contact textarea {
  width: 100%;
  height: 250px;
  font-size: 1.5em;
  resize: none;
  border: none;
  padding: 10px;
}

#section-contact button {
  width: 25%;
  height: 50px;
  font-size: 1.5em;
  resize: none;
  border: none;
  border-color: bisque;
}
