* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  transition: 3s ease;
}

:root {
  --background-color-first: #fecf00;
  --background-color-second: #9e9876;
  --background-color-third: #8e908f;
  --background-color-fourth: #606d7d;
  --background-color-fifth: #2d3945;
  --background-color-six: rgb(224, 224, 221);
  --color: #2d3945;
  --width-main: 80%;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}

header {
  background-color: var(--background-color-first);
  height: 90px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding: 0 5%;

  top: 0;
  position: sticky;
}

header img {
  height: 100%;
  background-size: cover;
  max-height: 100%;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.menu > a {
  color: var(--color);
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}

#section-about,
#section-gallery {
  background-color: var(--background-color-second);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 10%;
}

#section-about {
  height: 600px;
}

#section-about p,
#section-about h1 {
  width: var(--width-main);
 background-image: linear-gradient(
   -225deg,
   #231557 0%,
   #44107a 29%,
   #ff1361 67%,
   #fff800 100%
 );
 background-size: 200% auto;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: textclip 2s linear infinite;
}

@keyframes textclip {
 to {
   background-position: 200% center;
 }
}

#section-gallery {
  background-color: var(--background-color-first);
  padding: 30px 10%;
  gap: 40px;
}

.gallery-card {
  background-color: var(--background-color-second);
  border-radius: 5%;
  width: 100%;
}

.gallery-card img {
  height: 100%;
  width: 100%;
  border-radius: 5% 5% 0 0;
}

img:hover {
  animation: blur 4s ease;
}

@keyframes blur {
  0%,
  90% {
    filter: blur(0px);
  }
  50% {
    filter: blur(20px);
  }
}

.gallery-card h2 {
  color: var(--color);
  padding-bottom: 5%;
}

#section-contact {
  background-color: var(--background-color-fifth);
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-contact img {
  width: 100%;
  height: 100%;
}

#section-contact form {
  width: var(--width-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

#section-contact input {
  background-color: var(--background-color-six);
  height: 50%;
  font-size: 1.5em;
  border: none;
  padding: 10px;
}

#section-contact textarea {
  background-color: var(--background-color-six);
  width: 100%;
  height: 250px;
  font-size: 2em;
  resize: none;
  border: none;
  padding: 10px;
}

#section-contact button {
  background-color: var(--background-color-first);
  font-weight: bold;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  font-size: 1.5em;
  resize: none;
  border: none;
  align-self: center;
}

/*---------- Responsibility ----------*/
/*-------------- TABLET --------------*/
@media screen and (min-width: 769px) {
  #section-gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 10%;
  }

  #gallery-card {
    width: 100%;
    gap: 50px;
  }

  section {
    height: fit-content;
  }
}

/*-------------- COMPUTER --------------*/
@media screen and (min-width: 993px) {
  #section-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}